
<div class= "flex" id="<%= dom_id inventory %>">
  <div>
  <p>
    <strong>Name:</strong>
    <%= inventory.name %>
  </p>
     <%= button_to "Remove", inventory, method: :delete, class: "btn btn-danger btn-sm" %>
  </div>
<div>
  <p>
    <strong>Description:</strong>
    <%= inventory.description %>
  </p>
<%= link_to "View Inventory Food", inventory_foods_path, class: 'btn btn-sm btn-outline-primary'%>
</div>
</div>

