<p style="color: green"><%= notice %></p>

<h1 class="text-center"><strong>Recipes</strong></h1>

<div class="text-right">
  <%= link_to "New recipe", new_recipe_path, data: { turbo_frame: "modal" }, class: 'btn btn-primary', style:"margin-bottom: 12px" %>
</div>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="border border-info" id="recipes-info">
      <div>
        <h2><%= link_to recipe.name, recipe %></h2>
        <%= button_to "Remove this recipe", recipe, method: :delete %>
      </div>
      <p class="limit-lines"><%= recipe.description %></p>
    </div>
  <% end %>
</div>
