<%= render @recipe %>

<div class='d-flex justify-content-between mb-3'>
  <%= link_to "Generate Shopping List",
              "#{shopping_list_index_path}?recipe_id=#{@recipe.id}",
              data: { turbo_frame: "modal" }, class: 'btn btn-primary' %>
  <%= link_to "Add Ingredient", new_recipe_food_path, class: 'btn btn-primary '%>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @recipe.recipe_foods.each do |ingredient| %>
    <tr>
      <td>
        <%= ingredient.food.name %>
      </td>
      <td>
        <%= ingredient.quantity %> <%= ingredient.food.measurement_unit %>
      </td>
      <td>
        $<%= ingredient.quantity * ingredient.food.price %>
      </td>
      <td>
        <div class="d-flex">
        <%= link_to "Modify", edit_recipe_food_path(ingredient), class: 'btn btn-sm' %>
        <%= button_to "Remove", ingredient, method: :delete, class: 'btn btn-sm btn-danger'%>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
